<h2 class="producer-title">ユーザー</h2><hr>

<div class="producer-wrapper">

  <div class="producer-image-container">
    <% if @user.image.attached? %>
      <p><%= image_tag @user.image %></p>
    <% else %>
      <p class="producer-image"><%= image_tag "default-user.png" %></p>
    <% end %>
  </div>

  <div class="producer-about-container">
    <p class="producer-about">【名前】<%=@user.name  %></p>
    <p class="producer-about">【生産県】<%= @user.prefecture.name%></p>
    <p class="producer-about">【生産県】<%= @user.email%></p>
    <p class="producer-about">
      <% if current_user == @user %>
        <%= link_to "編集", edit_user_registration_path  %>
      <% end %>
    </p>
  </div>

</div>


