
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="account">
  <div class="form">
    <h2 class="form-title">ログイン</h2>
      
      <div class="form-wrapper">     
        <p class="form-text"><%= f.label "メールアドレス" %></p>
        <div class="form-input"><%= f.email_field :email, autofocus: true %></div>
      </div>

      <div class="form-wrapper">
        <p class="form-text"><%= f.label "パスワード" %></p>
        <div class="form-input"><%= f.password_field :password %></div>
      </div>

      <div class="form-wrapper">
        <div class="actions">
          <%= f.submit "ログイン" %>
        </div>
      </div>
      <%= render "producers/shared/links" %>

  </div>
</div>
<% end %>





