<h2>編集</h2>

<%= form_for @producer do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :profile %><br />
    <%= f.text_field :profile %>
  </div>

  <p>都道府県プルダウン導入予定</p>

  <div class="actions">
    <%= f.submit "編集" %>
  </div>
<% end %>

