<h2>商品の出品</h2>
<%= form_for @product do |f| %>
  <label>商品名</label>
  <p><%= f.text_field :name %></p>

  <label>出品時のタイトル</label>
  <p><%= f.text_field :content %></p>

  <label>商品の値段</label>
  <p><%= f.number_field :price %></p>

  <label>画像</label>
  <p><%= f.file_field :image %></p>
  
  <label>商品内容</label>
  <p><%= f.text_area :description %></p>

  <p>生産者の県（prefecture）表示予定</p>
  
    <%= f.submit %>


<% end %>