<div class="form">
  <h2 class="form-title">商品の出品</h2>
  <%= form_for @product do |f| %>
  <% if @product.errors.any? %>
   <p class="error">フォームの値を正しく入力してください</p>
  <% end %>
    <div class="form-wrapper">
      <p class="form-text"><%= f.label "品名(9文字まで)" %></p>
      <div class="form-input"><%= f.text_field :name, maxlength:9 %></div>
    </div> 

    <div class="form-wrapper">
      <p class="form-text"><%= f.label "出品時のタイトル(15文字まで)" %></p>
      <div class="form-input"><%= f.text_field :content, maxlength:15 %></div>
    </div> 

    <div class="form-wrapper">
      <p class="form-text"><%= f.label "商品の値段" %></p>
      <div class="form-input"><%= f.number_field :price %></div>
    </div> 

    <div class="form-wrapper">
      <p class="form-text"><%= f.label "画像" %></p>
      <%= f.file_field :image %>
    </div> 

    <div class="form-wrapper">
      <p class="form-text"><%= f.label "商品の説明" %></p>
      <div class="form-input"><%= f.text_area :description, size: "35x5" %></div>
    </div> 
    
    <div class="post-actions">
      <%= f.submit "投稿する" %>
    </div>
  <% end %>
</div>