<div class="form">
  <h2 class="form-title">商品の出品</h2>
  <%= form_for @product do |f| %>

    <div class="form-wrapper">
      <p class="form-text"><%= f.label "品名" %></p>
      <div class="form-input"><%= f.text_field :name %></div>
    </div> 

    <div class="form-wrapper">
      <p class="form-text"><%= f.label "出品時のタイトル" %></p>
      <div class="form-input"><%= f.text_field :content %></div>
    </div> 

    <div class="form-wrapper">
      <p class="form-text"><%= f.label "商品の値段" %></p>
      <div class="form-input"><%= f.number_field :price %></div>
    </div> 

    <div class="form-wrapper">
      <p class="form-text"><%= f.label "画像" %></p>
      <%= f.file_field :image %>
    </div> 

    <div class="form-wrapper">
      <p class="form-text"><%= f.label "商品の説明" %></p>
      <div class="form-input"><%= f.text_area :description, size: "35x5" %></div>
    </div> 
    
    <div class="post-actions">
      <%= f.submit "投稿する" %>
    </div>
  <% end %>
</div>