<!-- 部分テンプレート化予定-->
<% if user_signed_in? %>
  ~<%= current_user.name %>がログインしてます~
  <%= link_to "ログアウト", destroy_user_session_path ,:method => :delete %>

<% elsif producer_signed_in? %>
  ~<%= current_producer.name %>がログインしてます~
  <%= link_to "ログアウト", destroy_producer_session_path ,:method => :delete %>

<% else %>
  <h3>ユーザー</h3>
  <%= link_to "ログイン", new_user_session_path %>
  <%= link_to "新規登録", new_user_registration_path %>
  <h3>ショップ</h3>
  <%= link_to "ログイン", new_producer_session_path %>
  <%= link_to "新規登録", new_producer_registration_path %>
<% end %>
<!--ここまで部分テンプレート化予定-->

<h2>商品詳細</h2>
<% if producer_signed_in? && @product.producer == current_producer %>
<%= link_to "編集", edit_product_path(@product) %>
<% end %>
<p>商品名：<%= @product.name %></p>
<p>内容：<%= @product.content %></p>
<p>値段：<%= @product.price %></p>
<p>内容：<%= @product.description %></p>

<% if @product.image.attached? %>
  <p><%= image_tag @product.image %></p>
<% end %>

<p><%= @product.producer.prefecture.name %></p>
<p><%= @product.producer.name %></p>

<% if @product.producer.image.attached? %>
  <p><%= image_tag @product.producer.image %></p>
<% end %>

<% if user_signed_in? %>
  <%= form_for [@product, @comment] do |f| %>
    <%= f.text_field :content %>
    <%= f.hidden_field :product_id, value: @product.id %>
    <br>
    <%= f.submit "コメントする" %>
  <% end %>
<% end %>

<% @comments.each do |comment| %>
  <p><%= comment.content %></p>
<% end %>