<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>    
    <p><%= link_to "Top", root_path %></p>
    <p><%= link_to "商品一覧", products_path %></p>
    <p><%= link_to "出品者一覧", producers_path %></p>
    <p><%= link_to "Contact", "#" %></p>
  <% if producer_signed_in? %>
    <p><%= link_to "作物を出費する", new_product_path %></p>
    <p><%= link_to "マイページ", "/producers/#{current_producer.id}" %></p>
    <p><%= link_to "DMリスト", rooms_path %></p>
  <% end %>

  <% if user_signed_in? %>
    <p><%= link_to "マイページ", "/users/#{current_user.id}" %></p>
  <% end %>
  
    <%= yield %>
  </body>
</html>
