<!DOCTYPE html>
<html>

<head>
  <title>Myapp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>


    <div class="wrapper">
      <%= image_tag "tomato.png", class:"tomato" %>
      <h1 class="top-title">農園直売所</h1>
      <div class="not-login-right">
        <% if !user_signed_in? && !producer_signed_in? %>
          <div class="login-button">
            <%= image_tag "user.png", class:"login-icon" %>
            <%= link_to "ユーザーログイン", new_user_session_path %>
          </div>
          <div class="login-button">
            <%= image_tag "farmer.png", class:"login-icon" %>
            <%= link_to "生産者ログイン", new_producer_session_path %>
          </div>
        <% end %>
      </div>

    <div class="login-right">
      <% if producer_signed_in? %>
            <div>
          <%= link_to ("/producers/#{current_producer.id}") do %>
              <% if current_producer.image.attached? %>
                <%= image_tag current_producer.image, class: "profile-image" %>
              <% else %>
                <%= image_tag "default-user.png", class: "profile-image" %>
              <% end %>
            </div>
              <div class="name"><%= current_producer.name %></div>
              <p class="logout"><%= link_to "ログアウト", destroy_producer_session_path ,:method => :delete %></p>
          <% end %>
      <% end %>
    </div>


    <div class="login-right">
      <% if user_signed_in? %>
          <div> 
            <%= link_to ("/users/#{current_user.id}") do %>
              <% if current_user.image.attached? %>
                <%= image_tag current_user.image, class: "profile-image" %>
              <% else %>
                <%= image_tag "default-user.png", class: "profile-image" %>  
              <% end %>
          </div>
            <div class="name"><%= current_user.name %></div>
            <p class="logout"><%= link_to "ログアウト", destroy_user_session_path ,:method => :delete %></p>
            <% end %>
      <% end %>
    </div>



      <div class="menu">
        <div class="menu-icon">
        <%= link_to root_path do %>
          <%= image_tag "home.png", class:"icon" %>
          <p class="menu-text">Top</p>
        <% end %>
        </div>

        <div class="menu-icon">
        <%= link_to products_path do %>
          <%= image_tag "vegetable.png", class:"icon" %>
          <p class="menu-text">野菜一覧</p>
        <% end %>
        </div>

        <div class="menu-icon">
        <%= link_to producers_path do %>
          <%= image_tag "farmer.png", class:"icon" %>
          <p class="menu-text">生産者</p>
        <% end %>
        </div>

        <div class="menu-icon">
        <%= link_to new_product_path do %>
          <%= image_tag "box.png", class:"icon" %>
          <p class="menu-text">出品</p>
        <% end %>
        </div>

      <% if producer_signed_in? %>
        <div class="menu-icon">
        <%= link_to rooms_path do %>
          <%= image_tag "chat.png", class:"icon" %>
          <p class="menu-text">DM</p>
        <% end %>
        </div>

        <div class="menu-icon">
        <%= link_to "#" do %>
          <%= image_tag "contact.png", class:"icon" %>
          <p class="menu-text">お問い合わせ</p>
        <% end %>
        </div>
      <% end %>
      </div>


      

    </div>
  </header>
  <%= yield %>
</body>

</html>