<div class="form">
  <h2 class="form-title">ユーザー編集</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="form-wrapper">
      <p class="form-text"><%= f.label "名前" %><br />
      <div class="form-input"><%= f.text_field :name, autofocus: true, autocomplete: "name" %></div>
    </div>

    <div class="form-wrapper">
      <p class="form-text"><%= f.label "メールアドレス" %><br />
      <div class="form-input"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-wrapper">
      <p class="form-text"><%= f.label "パスワード" %> </p>
      <div class="form-input"><%= f.password_field :password, autocomplete: "new-password" %></div>
    </div>

    <div class="form-wrapper">
      <p class="form-text"><%= f.label "パスワード(再確認)" %></p>
      <div class="form-input"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></div>
    </div>

    <div class="form-wrapper">
      <p class="form-text"><%= f.label "現在のパスワード" %> </p>
      <div class="form-input"><%= f.password_field :current_password, autocomplete: "current-password" %></div>
    </div>

    <div class="form-wrapper">
      <p class="form-text"><%= f.label "出身県" %></p>
      <div class="form-input"><%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: '選択して下さい' %></div>
    </div>

      <div class="form-wrapper">
      <p class="form-text"><%= f.label "プロフィール画像" %></p>
      <%= f.file_field :image, autofocus: true, autocomplete: "image" %>
    </div>


    <div class="actions">
      <%= f.submit "更新する" %>
    </div>
  <% end %>

    <h3 class="delete-title">アカウント削除したい場合</h3>

    <div class="actions">
      <%= link_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当に削除しますか?" }, method: :delete %>
    </div>

</div>
